<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	<script type="text/javascript">
    	$("#telephone").mask("+00 (00) 00000-0000");
 	</script>
</head>
<body>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/createAccount}" th:object="${account}" method="post">
                <fieldset>
                	<h1>New Account</h1>
                
                	<div th:if="${errors}">
                        <div class="alert alert-danger">
                           	<label th:text="${errors}" ></label>
                        </div>
                    </div>
                    
                	<div class="form-group">
                		<label for="name">Name</label>
                        <input type="text" name="name" id="name" th:field="*{name}" class="form-control input-lg" placeholder="Name" maxlength="50" autofocus="true"/>
                    </div>
                    <div class="form-group">
                		<label for="dateBirth">Date Birth</label>
                        <input type="date" name="dateBirth" id="dateBirth" th:field="*{dateBirth}" class="form-control input-lg" placeholder="Date Birth"/>
                    </div>
                    <div class="form-group">
                		<label for="telephone">Telephone</label>
                        <input type="text" name="telephone" id="telephone" th:field="*{telephone}" class="form-control input-lg" placeholder="Telephone"/>
                    </div>
                    <div class="form-group">
                		<label for="address">Address</label>
                        <input type="text" name="address" id="address" th:field="*{address}" class="form-control input-lg" placeholder="Address" maxlength="50"/>
                    </div>
                    <div class="form-group">
                		<label for="email">Email</label>
                        <input type="email" name="email" id="email" th:field="*{email}" class="form-control input-lg" placeholder="Email" maxlength="40"/>
                    </div>
                    <div class="form-group">
                		<label for="password">Password</label>
                        <input type="password" name="password" id="password" th:field="*{password}" class="form-control input-lg" placeholder="Password" />
                    </div>
                    <div class="form-group">
                		<label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}" class="form-control input-lg" placeholder="Confirm Password"/>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Save"/>
                        </div>
                    </div>
                    <div class="form-group">
	                    <div>
	                         <a class="btn btn-lg btn-default btn-block" href="/login">Back</a>
	                    </div>
	               </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

</body>
</html>

